<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper:根标签，namespace：命名空间，随便写，一般保证命名空间唯一 -->
<mapper namespace="trojanMapper">

    <select id="getTrojanCountMaxId"  resultType="java.lang.Long">
        select max(id) maxId from wa_botnet_trojan
    </select>

    <select id="getBotnetTrojanResults" parameterType="java.util.Map" resultType="java.util.Map">
		select
		    wa_botnet_trojan.id,
		    min(mudi_ip.lu_id) unitId,
		    min(yuan_ip.lu_id) sourceUnitId,
		    count(1) isMore,
    		count(mudi_ip.id) unitNum,
    		count(yuan_ip.id) sourceUnitNum
		from wa_botnet_trojan
		left join wa_ip_block as yuan_ip on wa_botnet_trojan.source_num_ip &gt;= yuan_ip.start_num_ip AND wa_botnet_trojan.source_num_ip &lt;= yuan_ip.end_num_ip
		left join wa_ip_block as mudi_ip on wa_botnet_trojan.dest_num_ip &gt;= mudi_ip.start_num_ip AND wa_botnet_trojan.dest_num_ip &lt;= mudi_ip.end_num_ip
        where wa_botnet_trojan.id &gt; #{start} and wa_botnet_trojan.id &lt;= #{end}
		group by wa_botnet_trojan.id
		having sourceUnitId is not null or unitId is not null
    </select>

    <select id="getBotnetTrojanById" resultType="com.check.jar.bean.WaBotnetTrojanResult">
    	select
    		bt.source_catagory sourceCatagory,
	        bt.source source,
	        bt.type_code typeCode,
	        bt.basic_type basicType,
	        bt.sub_type subType,
	        bt.detail_type detailType,
	        bt.extension_type_Code extensionTypeCode,
	        bt.extension_type extensionType,
	        bt.find_time findTime,
	        bt.day day,
	        bt.hour hour,
	        bt.dest_point_ip destPointIp,
	        bt.dest_num_ip destNumIp,
	        bt.dest_port destPort,
	        bt.dest_ip_ownership destIpOwnership,
	        bt.dest_ip_region destIpRegion,
	        bt.dest_ip_operator destIpOperator,
	        bt.dest_ip_longitude destIpLongitude,
	        bt.dest_ip_latitude destIpLatitude,
	        bt.source_point_ip sourcePointIp,
	        bt.source_num_ip sourceNumIp,
	        bt.source_port sourcePort,
	        bt.source_ip_ownership sourceIpOwnership,
	        bt.source_ip_region sourceIpRegion,
	        bt.source_ip_operator sourceIpOperator,
	        bt.source_ip_longitude sourceIpLongitude,
	        bt.source_ip_latitude sourceIpLatitude,
	        bt.monitor_loc_type monitorLocType,
	        bt.monitor_region monitorRegion ,
	        bt.monitor_operator monitorOperator,
	        bt.monitor_join_point monitorJoinPoint,
	        bt.monitor_network monitorNetwork,
	        bt.monitor_gateway monitorGateway,
	        bt.flag flag,
	        bt.return_value returnValue
    	from wa.wa_botnet_trojan bt
		where id = #{id}
		limit 1
    </select>

    <insert id="insertTrojan" parameterType="com.check.jar.bean.WaBotnetTrojanResult">
        insert into wa_botnet_trojan_result (
            source_catagory,
            source,
            type_code,
            basic_type,
            sub_type,
            detail_type,
            extension_type,
            find_time,
            day,
            hour,
            dest_point_ip,
            dest_num_ip,
            dest_port,
            dest_ip_ownership,
            dest_ip_region,
            dest_ip_operator,
            dest_ip_longitude,
            dest_ip_latitude,
            source_point_ip,
            source_num_ip,
            source_port,
            source_ip_ownership,
            source_ip_region,
            source_ip_operator,
            source_ip_longitude,
            source_ip_latitude,
            monitor_loc_type,
            monitor_region,
            monitor_operator,
            monitor_join_point,
            monitor_network,
            monitor_gateway,
            flag,
            return_value,
            unit,
            industry,
            business,
            county,
            address,
            unit_type,
            parent_dept,
            contact,
            phone,
            email,
            icp_number,
            web_access_type,
            web_access_principal,
            access_address,
            create_time,
            type,
            field,
            system_name,
            domain_url,
            source_unit,
            unit_id,
            source_unit_id,
            isMore,
            unitNum,
            sourceUnitNum
        )
        VALUES
        (
            #{sourceCatagory},
            #{source},
            #{typeCode},
            #{basicType},
            #{subType},
            #{detailType},
            #{extensionType},
            #{findTime},
            #{day},
            #{hour},
            #{destPointIp},
            #{destNumIp},
            #{destPort},
            #{destIpOwnership},
            #{destIpRegion},
            #{destIpOperator},
            #{destIpLongitude},
            #{destIpLatitude},
            #{sourcePointIp},
            #{sourceNumIp},
            #{sourcePort},
            #{sourceIpOwnership},
            #{sourceIpRegion},
            #{sourceIpOperator},
            #{sourceIpLongitude},
            #{sourceIpLatitude},
            #{monitorLocType},
            #{monitorRegion},
            #{monitorOperator},
            #{monitorJoinPoint},
            #{monitorNetwork},
            #{monitorGateway},
            #{flag},
            #{returnValue},
            #{unit},
            #{industry},
            #{business},
            #{county},
            #{address},
            #{unitType},
            #{parentDept},
            #{contact},
            #{phone},
            #{email},
            #{icpNumber},
            #{webAccessType},
            #{webAccessPrincipal},
            #{accessAddress},
            #{createTime},
            #{type},
            #{field},
            #{systemName},
            #{domainUrl},
            #{sourceUnit},
            #{unitId},
            #{sourceUnitId},
            #{isMore},
            #{unitNum},
            #{sourceUnitNum}
        )
    </insert>

    <insert id="insertBotnetTrojanResultList"  parameterType="java.util.List" useGeneratedKeys="false">
        insert into wa_botnet_trojan_result (
        source_catagory,
        source,
        type_code,
        basic_type,
        sub_type,
        detail_type,
        extension_type,
        find_time,
        day,
        hour,
        dest_point_ip,
        dest_num_ip,
        dest_port,
        dest_ip_ownership,
        dest_ip_region,
        dest_ip_operator,
        dest_ip_longitude,
        dest_ip_latitude,
        source_point_ip,
        source_num_ip,
        source_port,
        source_ip_ownership,
        source_ip_region,
        source_ip_operator,
        source_ip_longitude,
        source_ip_latitude,
        monitor_loc_type,
        monitor_region,
        monitor_operator,
        monitor_join_point,
        monitor_network,
        monitor_gateway,
        flag,
        return_value,
        unit,
        industry,
        business,
        county,
        address,
        unit_type,
        parent_dept,
        contact,
        phone,
        email,
        icp_number,
        web_access_type,
        web_access_principal,
        access_address,
        create_time,
        type,
        field,
        system_name,
        domain_url,
        source_unit,
        unit_id,
        source_unit_id,
        isMore,
        unitNum,
        sourceUnitNum
        )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.sourceCatagory},
            #{item.source},
            #{item.typeCode},
            #{item.basicType},
            #{item.subType},
            #{item.detailType},
            #{item.extensionType},
            #{item.findTime},
            #{item.day},
            #{item.hour},
            #{item.destPointIp},
            #{item.destNumIp},
            #{item.destPort},
            #{item.destIpOwnership},
            #{item.destIpRegion},
            #{item.destIpOperator},
            #{item.destIpLongitude},
            #{item.destIpLatitude},
            #{item.sourcePointIp},
            #{item.sourceNumIp},
            #{item.sourcePort},
            #{item.sourceIpOwnership},
            #{item.sourceIpRegion},
            #{item.sourceIpOperator},
            #{item.sourceIpLongitude},
            #{item.sourceIpLatitude},
            #{item.monitorLocType},
            #{item.monitorRegion},
            #{item.monitorOperator},
            #{item.monitorJoinPoint},
            #{item.monitorNetwork},
            #{item.monitorGateway},
            #{item.flag},
            #{item.returnValue},
            #{item.unit},
            #{item.industry},
            #{item.business},
            #{item.county},
            #{item.address},
            #{item.unitType},
            #{item.parentDept},
            #{item.contact},
            #{item.phone},
            #{item.email},
            #{item.icpNumber},
            #{item.webAccessType},
            #{item.webAccessPrincipal},
            #{item.accessAddress},
            #{item.createTime},
            #{item.type},
            #{item.field},
            #{item.systemName},
            #{item.domainUrl},
            #{item.sourceUnit},
            #{item.unitId},
            #{item.sourceUnitId},
            #{item.isMore},
            #{item.unitNum},
            #{item.sourceUnitNum}
            )
        </foreach>
    </insert>

    <delete id="deleteLeadUserResult">
        delete from wa_botnet_trojan_result where type = 1;
    </delete>
</mapper>
